body{
    background-color: rgb(26, 26, 26);
}
.loading{
    position:absolute;
    top:40%;
    left:20%;
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    margin: auto 20%;
}
.boll-div{
    background: linear-gradient(0deg, rgb(92, 92, 92),aliceblue);
    height: 20px;
    margin-bottom: 1px;
    width: 20px;
    border-radius:20px;
    animation: xandy 2.7s ease-in-out infinite;
}
.rotating-div{
    animation: roto 2.7s ease-in-out infinite;
    transform-origin: 100px 20px;
}
.bar-div{
    background: linear-gradient(0deg, rgb(20, 83, 62), rgb(124, 250, 208));
    height: 20px;
    width: 200px;
    border-radius: 10px;
}
@keyframes xandy {
    0%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(230px);
    }
    100%{
        transform: translateX(-50px);
    }
}
@keyframes roto {
    0%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(-90deg);
    }
    100%{
        transform: rotate(90deg); 
    }
}